---
import type { IProjectmatter } from '@/dependences';
import { Section } from '@/dependences';
import { Contact } from '@/partials/Contact';
import { ProjectPage } from '@/partials/ProjectPage';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  content: IProjectmatter;
}

const { content } = Astro.props as Props;
const title = `${content.title} - ${AppConfig.site_name}`;
const keywords = `${content.keywords}`;
---

<Base head={{ title, description: content.description, keywords }}>
  <Section>
    <ProjectPage projectmatter={content} />
  </Section>

  <Contact />
</Base>
